* { 
    padding : 0px;
    margin : 0px;
    color : white;
    text-decoration: none;
}

.panell {
    background-color: black;
    height : 50px;
}
#sitecolor {
    color: brown;
    font-size : 25px;
}
#logo{
    color: yellow;
}
a {
    margin-right: 200px;
}
button {
    color: orangered; 
    background-color: yellow;  
}
input {
    height : 20px;
}
#content{
    background-color: green;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    
    
}
.panel2{
    margin: 10px;
}

footer {
    color: black;
}