.container {
    background-color: rgb(52, 198, 255);
    width : 100vw;
    height: 60px;
    padding-top : 0px;
    display : flex;
    justify-content : space-evenly;
    text-align : center;  
}

a {
    text-decoration: none;
}
.outsidebox {
    margin-top : 10px;
    margin-left : 10px;
    background-color: aqua;
    height: 250px;
    width : 250px;
    display : flex;
    /* flex-direction: column; */
    justify-content: center;
    align-self: center;
    align-items: center;
}
.insidebox { 
    background-color: blue;
    width : 175px;
    height: 175px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}