.container {
    width: 100px;
    height: 100px;
    background-color: gray; /* Default color */
}

@media (min-width: 300px) and (max-width: 400px) {
    .container {
        background-color: pink;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .container {
        background-color: red;
    }
}
@media (max-width: 300px) {
    .container {
        background-color: green;
    }
}
@media (max-width: 100vw) {
    .container {
        background-color: black;
    }
}